<!DOCTYPE html>

<html>
    <head>
        <title>Coffee Dashboard</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <center>
        <h1>
            <ul>
                <li><a href="/order/">New Order</a></li>
                <li><a href="/stock/">Check Stock</a></li>
                <li><a href="/recipes/">View Recipes</a></li>
                <li><a href="/menu/">Menu</a></li>
                <li><a href="/orders/">Past Orders</a></li>
            </ul>
        </h1>
        <hr><br><br>
        {% block body %}
        {% endblock %}
        </center>
    </body>
</html>
