{% extends 'index.html' %}

{% block body %}

<form method="post" action="/order/submit/">
    <label for="recipientName">Recipient Name: </label>
    <input type="text" name="recipientName" required><br><br>

    <div class="flex-container">
        {% for i in availableItems %}
        <div style="background-color: rgba(50, 205, 50, 0.9);">
            <img src="/static/images/{{ i[1] }}.jpg" style="max-width: 180px;">
            <label for="{{ i[1] }}">{{ i[1] }} (₹{{ i[2] }}): </label>
            <input type="number" name="{{ i[0] }}" min="0" step="1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" value="0">
            <br>
        </div>
        {% endfor %}
    </div>

    {% if outOfStock|length > 0 %}
    <h2>Out Of Stock:</h2>
    <div class="flex-container">
    {% for i in outOfStock %}
        <div style="background-color: rgba(255, 100, 100, 0.9)">
            <img src="/static/images/{{ i[1] }}.jpg" style="max-width: 200px;">
            <h4>{{ i[1] }} </h4>
        </div>
    {% endfor %}
    </div>
    {% endif %}

    <br><input type="submit">
</form>

{% endblock %}
