{% extends 'index.html' %}

{% block body %}
<table>
    <thead>
        <th>Item Name</th>
        <th>Ingredient</th>
        <th>Quantity</th>
    </thead>
    <tbody>
        {% for i in lst %}
        <tr>
            <td rowspan="{{ i[1]|length + 1 }}">{{ i[0] }}</td>
            {% for j in i[1] %}
            <tr>
                <td>{{ j[0] }}</td>
                <td>{{ j[1] }}</td>
            </tr>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
